
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<a href="" class="logo-wrap">
			<div class="logo"><img src="./img/main/logo.svg" alt=""></div>
			<div class="logo-title">CHEHOV-KARKAS.RU</div>
		</a>
		<div class="phone-wrap">
			<a href="tel:84953421245" class="link-phone">+7 495 342 12 45</a>
		</div>
		<div class="menu-wrap">
			<ul class="menu">
				<li><a href="">производство</a></li>
				<li><a href="">каркасные дома</a></li>
				<li><a href="">проекты домов</a></li>
				<li><a href="">построенные дома</a></li>
				<li><a href="">услуги</a></li>
				<li><a href="">контакты</a></li>
			</ul>
		</div>
	</div>
</footer>
<!-- /footer -->


<div class="popup-outer-box" id="popup-order">
	<div class="popup-box">
		<div class="popup-title-wrap">
			<div class="popup-title h1-title title-main title-att-second">
				<span class="title-decor">заявка на строительство</span>
			</div>
			<p>Отправьте зявку на строительсво дома и мы перезвоним Вам в ближайшее время</p>
			<a href="" class="btn-action-ico ico-close js-popup-close"></a>
		</div>
		<div class="popup-content-wrap">
			<form action="/" class="frm-popup" id="form">
				<div class="form-inner-wrap">
					<div class="frm-row">
						<div class="frm-field">
							<input type="text" class="form-input" placeholder="ваше имя" required>
						</div>
					</div>
					<div class="frm-row">
						<div class="frm-field">
							<input type="tel" class="form-input" placeholder="телефон" required>
						</div>
					</div>
					<div class="frm-row">
						<div class="frm-field">
							<div class="frm-field-cpt">
								<img src="./img/cpt.jpg" alt="" class="img-cpt">
							</div>
						</div>
					</div>
					<div class="frm-row-submit">
						<div class="frm-field">
							<button type="submit" class="btn button-border">отправить</button>
						</div>
					</div>
				</div>
				<div class="form-succefull-wrap">
					<div class="form-text">Ваша заявка отправлена! <br>Наш менеджер свяжется с &nbsp;вами в&nbsp;ближайее время</div>
				</div>
			</form>
		</div>
	</div>
</div><!--/popup-outer-box-->