
<!-- header -->
<header class="header">
	<!--header-top-panel-->
	<div class="header-top-panel cnt-section">
		<div class="inner-wrap">
			<div class="inner-wrap">
				<div class="info-wrap">МО, Чеховский район, село Пешково, владение 10</div>
				<div class="info-wrap"><a href="tel:89913452345" class="link-phone">+7 991 345 23 45</a></div>
				<div class="soc-wrap">
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc01.png" alt="">
						<img src="./img/icons/soc01-h.png" alt="" class="img-hover">
					</a>
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc02.png" alt="">
						<img src="./img/icons/soc02-h.png" alt="" class="img-hover">
					</a>
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc03.png" alt="">
						<img src="./img/icons/soc03-h.png" alt="" class="img-hover">
					</a>
				</div>
			</div>
		</div>
	</div>
	<!--/header-top-panel-->
	<!--header-main-panel-->
	<div class="header-main-panel cnt-section">
		<div class="inner-wrap">
			<a href="" class="logo-wrap">
				<div class="logo">
					<img src="./img/main/logo.svg" alt="">
				</div>
				<div class="logo-text-wrap">
					<div class="logo-title">CHEHOV <br>KARKAS.RU</div>
					<div class="logo-text">дома камерной сушки</div>
				</div>
			</a>
			<div class="popup-menu-wrap js-popup-wrap">
				<a href="" class="btn-popup btn-action-ico ico-menu js-btn-toggle">Меню<span></span></a>
				<div class="popup-content-block js-popup-block">
					<div class="menu-wrap">
						<a href="" class="btn-popup-close btn-action-ico ico-close js-btn-close"></a>
						<ul class="menu">
							<li>
								<a href="">производство</a>
								<ul>
									<li><a href="">пункт меню</a></li>
									<li><a href="">пункт меню</a></li>
									<li><a href="">пункт меню</a></li>
								</ul>
							</li>
							<li><a href="">каркасные дома</a></li>
							<li><a href="">проекты домов</a></li>
							<li><a href="">построенные дома</a></li>
							<li><a href="">услуги</a></li>
							<li><a href="">контакты</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="phone-wrap">
				<a href="tel:84953421245" class="link-phone">+7 495 342 12 45</a>
			</div>
		</div>
	</div>
	<!--/header-main-panel-->
</header>
<!-- /header -->